:root {
  --bg_Main: rgba(30, 45, 59, 1);
  --bg_Header: rgba(46, 58, 70, 1);
  --text_Main: rgba(128, 128, 128, 1);
  --white: white;
}
header {
  background-color: var(--bg_Header);
  justify-content: space-between;
  align-items: center;
}
/* Common */
img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
}

/* utility */

.py_5 {
  padding: 4rem 0;
}

.logo{
  width: 40px;
}

main {
  height: calc(100vh - 72px);
  background-color: var(--bg_Main);
  overflow: auto;
}
.card_album{
  background-color: var(--bg_Header);
  height: 100%;
}

.card_album h4{
    color: var(--white);
    text-transform: uppercase;
    margin: 1.5rem 0;
}
.card_album h5,
.card_album h6{
    color: var(--text_Main);
    font-weight: 400;
    margin: 0;
}